---
import Breadcrumb from "@/components/Breadcrumb.astro";
import { SITE } from "@/config";

type StringTitle = { pageTitle: string };
type ArrayTitle = { pageTitle: [string, string]; titleTransition: string };

type Props = (StringTitle | ArrayTitle) & {
  pageDesc?: string;
  singleCard?: boolean;
};

const { props } = Astro;
const { singleCard = false } = props;

const backUrl = SITE.showBackButton ? Astro.url.pathname : "/";
---

{SITE.showBreadcrumbs && <Breadcrumb />}
<main data-backUrl={backUrl} id="main-content" class="app-layout pb-4">
  {
    singleCard ? (
      <div class="border-neo bg-card-bg p-8 shadow-neo">
        {"titleTransition" in props ? (
          <h1 class="font-heading text-3xl leading-[0.9] tracking-tighter text-ink uppercase sm:text-5xl">
            <span class="bg-fizz px-2">{props.pageTitle[0]}</span>
            <span transition:name={props.titleTransition}>
              {props.pageTitle[1]}
            </span>
          </h1>
        ) : (
          <h1 class="font-heading text-3xl leading-[0.9] tracking-tighter text-ink uppercase sm:text-5xl">
            <span class="bg-fizz px-2">{props.pageTitle}</span>
          </h1>
        )}
        <p class="mt-6 italic">{props.pageDesc}</p>
        <div class="mt-8">
          <slot />
        </div>
      </div>
    ) : (
      <>
        <div class="border-neo bg-card-bg p-8 shadow-neo">
          {"titleTransition" in props ? (
            <h1 class="font-heading text-3xl leading-[0.9] tracking-tighter text-ink uppercase sm:text-5xl">
              <span class="bg-fizz px-2">{props.pageTitle[0]}</span>
              <span transition:name={props.titleTransition}>
                {props.pageTitle[1]}
              </span>
            </h1>
          ) : (
            <h1 class="font-heading text-3xl leading-[0.9] tracking-tighter text-ink uppercase sm:text-5xl">
              <span class="bg-fizz px-2">{props.pageTitle}</span>
            </h1>
          )}
          <p class="mt-6 italic">{props.pageDesc}</p>
        </div>
        <slot />
      </>
    )
  }
</main>

<script>
  document.addEventListener("astro:page-load", () => {
    const mainContent: HTMLElement | null =
      document.querySelector("#main-content");
    const backUrl = mainContent?.dataset?.backurl;
    if (backUrl) {
      sessionStorage.setItem("backUrl", backUrl);
    }
  });
</script>
